
@font-face{
    font-family: ADD; 
    src: url("/fonts/ADDSBP.TTF") format("truetype");
}

@font-face{
  font-family: Venice;
  src: url("/fonts/VeniceClassic.ttf") format("truetype");
}


            .center {
                display: block;
                margin-left: auto;
                margin-right: auto;
                width: auto;
                }
             
              body {
                  margin: 0;
                  background-color: #08031A;
                  background-size: 200px;
                  color: white;
              }
  
              * {
                  box-sizing: border-box;
              }
  
  
              #container {
                  max-width: 1200px;
                  margin: 0 auto;
              }
  
             
              #container a {
                  color: black;
                  font-weight: bold;
              }
  
              #header {
                  width: 100%;
                  background-color: #3b1850;
                  height: 100px;
                  background-image: url('/image/whimyc.jpg');
                  background-size: 100%;
              }
  
           
              #navbar {
                  height: 40px;
                  background-color: black;
                  /* navbar color */
                  width: 100%;
                  font-family: ADD;
              }
  
              #navbar ul {
                  display: flex;
                  padding: 0;
                  margin: 10;
                  list-style-type: none;
                  justify-content: space-evenly;
              }
  
              #navbar li {
                  padding-top: 8px;
              }
  
       
              #navbar li a {
                  color: white;
                  font-weight: 800;
                  text-decoration: none;
              }
  
             
              #navbar li a:hover {
                  color: #a49cba;
                  text-decoration: underline;
              }
  
              #flex {
                  display: flex;
              }
  
           
              aside {
                
                  background-color: #3b1850;
                  width: 200px;
                  height: 500px;
                  padding: 20px;
                  font-size: smaller;
              }
  
  
          
              main {
                font-size: 26px;
                border: none;
                border-radius: 0px;
                flex: 1;
                padding: 4px;
                order: 2;
              }


            #topBar {
                  width: 100%;
                  border-radius: 0px;
                  height: 70px;
                  padding: 10px;
                  font-size: smaller;
                  background-color: #3b1850;
              }
       
  
              #leftSidebar {
                text-align: center;
                 border-radius: 10px;
                  border: none;
                  padding: 20px;
                  order: 1;
              }
  
              #rightSidebar {
                  order: 3;
                  border-radius: 10px;
              }
  
              footer {
                  width: 100%;
                  padding: 10px;
                  text-align: center;
              }
  
              h1,
              h2,
              h3 {
                  color:  #846682;
                  text-align: center;
              }
  
              h1 {
                  font-size: 25px;
                
              }
              p { text-align: center;
              }
  
              strong {
                  /* this styles bold text */
                  color: #ED64F5;
              }
  
          
              .box {
                  background-color: #13092D;
                  border: 1px solid #0c0d2b;
                  padding: 10px;
              }
  
              /* CSS for extras */
  
              #topBar {
                  width: 100%;
                  height: 30px;
                  padding: 10px;
                  font-size: smaller;
                  background-color: #13092D;
              }
  
              