
@font-face{
    font-family: ADD; 
    src: url("/fonts/ADDSBP.TTF") format("truetype");
}

@font-face{
  font-family: Venice;
  src: url("/fonts/VeniceClassic.ttf") format("truetype");
}

              body {
                  margin: 0;
                  background-image: url('/image/num.gif');
                  color: white;
              }

              #container {
                  max-width: 1200px;
                  margin: 0 auto;
              }
  
             
              #container a {
                  font-weight: bold;
              }
  
              #header {
                margin-top: 1em;
                padding: 10px;
                  width: 100%;
                  background-color: #3b1850;
                  height: 100px;
                  background-image: url('/image/fog.jpg');
              }
  
           
              #navbar {
                  height: 40px;
                  width: 100%;
                  font-family: ADD;
              }
  
              #navbar ul {
                  display: flex;
                  padding: 0;
                  margin: 10;
                  list-style-type: none;
                  justify-content: space-evenly;
              }
  
              #navbar li {
                  padding-top: 8px;
              }
  
       
              #navbar li a {
                  color: white;
                  font-weight: 800;
                  text-decoration: none;
              }
  
             
              #navbar li a:hover {
                  color: #a49cba;
                  text-decoration: underline;
              }

  
              .content {
                max-height: 800px;
                max-width: 1500px;
                display: flex;
                justify-content: space-around;
                margin: 0 auto;
                gap: 10px;

              }
  
          
              .main {
                text-align: center;
                height: 500px;
                width: 500px;
                overflow: auto;
                scrollbar-width: thin;
                scrollbar-color: white;
                background-color:  rgba(65, 39, 82, 0.4);
                font-size: 26px;
                border: none;
                border-radius: 10px;
                flex-grow: 4;
                padding: 20px;
              }
              
              .leftsidebar {
                height: 1000px;
                background-color: transparent;
                text-align: center;
                flex-grow: 1;
              }

              .box {
                padding: 5px;
                width: 150px;
                display: flex;
                justify-content: center;
                flex-direction: column;
                gap: 5px;
                margin: auto;
                /* background-color: rgb(104, 58, 104); */
                
              }

              .rightsidebar {
                text-align: center;
                background-color: transparent;
                 flex-grow: 1;
              }

                .rightsidebar ul {
                    list-style-type: none;
                }
                
              .rightcontent {
                display: flex;
                margin: auto;
                flex-direction: column;
                width: 100px;
              }

              .surfin {
                width: 200px;
                border-radius: 150px;
              }

  
              footer {
                  width: 100%;
                  padding: 10px;
                  text-align: center;
              }
  
  
              h1 {
                  font-size: 25px;
                 color: #846682;
              }

              .alien {
                position: absolute;
                width: 120px;
              }
